<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bfxy.bfxypayb.mapper.PlatformAccountMapper">
  <resultMap id="BaseResultMap" type="com.bfxy.bfxypayb.entity.PlatformAccount">
    <id column="account_id" jdbcType="VARCHAR" property="accountId" />
    <result column="account_no" jdbcType="VARCHAR" property="accountNo" />
    <result column="date_time" jdbcType="TIMESTAMP" property="dateTime" />
    <result column="current_balance" jdbcType="DECIMAL" property="currentBalance" />
    <result column="version" jdbcType="INTEGER" property="version" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
  </resultMap>
  <sql id="Base_Column_List">
    account_id, account_no, date_time, current_balance, version, create_time, update_time
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from t_platform_account
    where account_id = #{accountId,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from t_platform_account
    where account_id = #{accountId,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.bfxy.bfxypayb.entity.PlatformAccount">
    insert into t_platform_account (account_id, account_no, date_time, 
      current_balance, version, create_time, 
      update_time)
    values (#{accountId,jdbcType=VARCHAR}, #{accountNo,jdbcType=VARCHAR}, #{dateTime,jdbcType=TIMESTAMP}, 
      #{currentBalance,jdbcType=DECIMAL}, #{version,jdbcType=INTEGER}, #{createTime,jdbcType=TIMESTAMP}, 
      #{updateTime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.bfxy.bfxypayb.entity.PlatformAccount">
    insert into t_platform_account
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="accountId != null">
        account_id,
      </if>
      <if test="accountNo != null">
        account_no,
      </if>
      <if test="dateTime != null">
        date_time,
      </if>
      <if test="currentBalance != null">
        current_balance,
      </if>
      <if test="version != null">
        version,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="updateTime != null">
        update_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="accountId != null">
        #{accountId,jdbcType=VARCHAR},
      </if>
      <if test="accountNo != null">
        #{accountNo,jdbcType=VARCHAR},
      </if>
      <if test="dateTime != null">
        #{dateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="currentBalance != null">
        #{currentBalance,jdbcType=DECIMAL},
      </if>
      <if test="version != null">
        #{version,jdbcType=INTEGER},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.bfxy.bfxypayb.entity.PlatformAccount">
    update t_platform_account
    <set>
      <if test="accountNo != null">
        account_no = #{accountNo,jdbcType=VARCHAR},
      </if>
      <if test="dateTime != null">
        date_time = #{dateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="currentBalance != null">
        current_balance = #{currentBalance,jdbcType=DECIMAL},
      </if>
      <if test="version != null">
        version = #{version,jdbcType=INTEGER},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where account_id = #{accountId,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.bfxy.bfxypayb.entity.PlatformAccount">
    update t_platform_account
    set account_no = #{accountNo,jdbcType=VARCHAR},
      date_time = #{dateTime,jdbcType=TIMESTAMP},
      current_balance = #{currentBalance,jdbcType=DECIMAL},
      version = #{version,jdbcType=INTEGER},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      update_time = #{updateTime,jdbcType=TIMESTAMP}
    where account_id = #{accountId,jdbcType=VARCHAR}
  </update>
</mapper>